.container {
  width: 420px;
  height: 335px;
  padding: 5px;
  margin: 20px auto;
  border: 2px solid grey;
  border-radius: 15px;
  background: #e6822d;
  display: grid;
  grid-template-areas:
    '1 2 3 4 5 6'
}
.card {
  width: 67px;
  height: 77px;
  /* border: 1px solid black; */
  background: url(./images/13bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
